# Mapping Example

# mapping example

f = audata.File.open('/Volumes/ExternalPL/Data/hdf5/test/'+fname,readonly=False)

In [72]:
pd.DataFrame(f.hdf['Mapping'][:])

   signal                  dataset local_name  column   category    loinc
0      HR         /Numerics/Vitals         HR       1   Numerics   8867-4
1      HR         /Numerics/Vitals      PULSE       2   Numerics   8867-4
2  NIBP-S         /Numerics/Vitals    NBP Sys       3   Numerics  76534-7
3  NIBP-D         /Numerics/Vitals   NBP Dias       4   Numerics  76535-4
4  NIBP-M         /Numerics/Vitals   NBP Mean       5   Numerics  76536-2
5      RR         /Numerics/Vitals       RESP       6   Numerics  76174-2
6    SPO2         /Numerics/Vitals       SpO2       7   Numerics  76522-2
7      RR  /Waveforms/Hemodynamics       RESP       5  Waveforms  76174-2

In [67]:
f['Numerics/Vitals'][:]

,HR,PULSE,NBP,NBP Sys,NBP Dias,NBP Mean,RESP,SpO2,PVC Rate per Minute,Rhythm Status,Ectopic Status,Ectopic Count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
232277,82.0,NaN,NaN,148.0,100.0,110.0,16.0,NaN,1.0,63014.0,63062.0,NaN
232278,81.0,NaN,NaN,148.0,100.0,110.0,16.0,NaN,1.0,63014.0,63062.0,NaN
232279,81.0,NaN,NaN,148.0,100.0,110.0,16.0,NaN,1.0,63014.0,63062.0,NaN
232280,81.0,NaN,NaN,148.0,100.0,110.0,15.0,NaN,1.0,63014.0,63062.0,NaN
232281,81.0,NaN,NaN,148.0,100.0,110.0,16.0,NaN,1.0,63014.0,63062.0,NaN

In [14]:
f = audata.File.open('/Volumes/ExternalPL/Data/hdf5/test/'+fname,readonly=False)

In [15]:
pd.DataFrame(f.hdf['Mapping'][:])

     signal                  dataset local_name  column   category    loinc
0        HR         /Numerics/Vitals         HR       1   Numerics   8867-4
1        HR         /Numerics/Vitals      PULSE       2   Numerics   8867-4
2    NIBP-M         /Numerics/Vitals        NBP       3   Numerics  76536-2
3    NIBP-S         /Numerics/Vitals    NBP Sys       4   Numerics  76534-7
4    NIBP-D         /Numerics/Vitals   NBP Dias       5   Numerics  76535-4
5    NIBP-M         /Numerics/Vitals   NBP Mean       6   Numerics  76536-2
6        RR         /Numerics/Vitals       RESP       7   Numerics  76174-2
7      SPO2         /Numerics/Vitals       SpO2       8   Numerics  76522-2
8     ECG-I  /Waveforms/Hemodynamics          I       1  Waveforms
9    ECG-II  /Waveforms/Hemodynamics         II       2  Waveforms
10  ECG-III  /Waveforms/Hemodynamics        III       3  Waveforms
11    ECG-V  /Waveforms/Hemodynamics          V       5  Waveforms
12       RR  /Waveforms/Hemodynamics       RESP       7  Waveforms  76174-2

In [19]:
show_map('p010061-2107-01-20-12-33.h5')

    signal                  dataset local_name  column   category    loinc
0       HR         /Numerics/Vitals         HR       1   Numerics   8867-4
1    ABP-S         /Numerics/Vitals     ABPSys       2   Numerics  76215-3
2    ABP-D         /Numerics/Vitals    ABPDias       3   Numerics  76213-8
3    ABP-M         /Numerics/Vitals    ABPMean       4   Numerics  76214-6
4      CVP         /Numerics/Vitals        CVP       8   Numerics  60985-9
5       HR         /Numerics/Vitals      PULSE       9   Numerics   8867-4
6       RR         /Numerics/Vitals       RESP      10   Numerics  76174-2
7     SPO2         /Numerics/Vitals       SpO2      11   Numerics  76522-2
8   NIBP-S         /Numerics/Vitals     NBPSys      12   Numerics  76534-7
9   NIBP-D         /Numerics/Vitals    NBPDias      13   Numerics  76535-4
10  NIBP-M         /Numerics/Vitals    NBPMean      14   Numerics  76536-2
11  ECG-II  /Waveforms/Hemodynamics         II       1  Waveforms     None
12   ABP-M  /Waveforms/Hemodynamics        ABP       2  Waveforms  76214-6

In [21]:
show_map('p010075-2184-10-04-12-30.h5')

     signal                  dataset local_name  column   category    loinc  \
0        HR         /Numerics/Vitals         HR       1   Numerics   8867-4
1        HR         /Numerics/Vitals      PULSE       2   Numerics   8867-4
2     ABP-S         /Numerics/Vitals    ABP SYS       3   Numerics  76215-3
3     ABP-D         /Numerics/Vitals   ABP DIAS       4   Numerics  76213-8
4     ABP-M         /Numerics/Vitals   ABP MEAN       5   Numerics  76214-6
5       CVP         /Numerics/Vitals        CVP       6   Numerics  60985-9
6    NIBP-S         /Numerics/Vitals    NBP SYS      10   Numerics  76534-7
7    NIBP-D         /Numerics/Vitals   NBP DIAS      11   Numerics  76535-4
8    NIBP-M         /Numerics/Vitals   NBP MEAN      12   Numerics  76536-2
9        RR         /Numerics/Vitals       RESP      13   Numerics  76174-2
10     SPO2         /Numerics/Vitals      %SpO2      14   Numerics  76522-2
11   ECG-II  /Waveforms/Hemodynamics         II       1  Waveforms     None
12    ABP-M  /Waveforms/Hemodynamics        ABP       2  Waveforms  76214-6
13       RR  /Waveforms/Hemodynamics       RESP       3  Waveforms  76174-2
14  ECG-III  /Waveforms/Hemodynamics        III       4  Waveforms     None
15    ECG-V  /Waveforms/Hemodynamics          V       5  Waveforms     None

                     loinc_name
0                    Heart rate
1                    Heart rate
2               Invasive sys BP
3              Invasive dias BP
4              Invasive mean BP
5                           CVP
6         BP sys by Noninvasive
7        BP dias by Noninvasive
8        BP mean by Noninvasive
9       Resp rate PulseOx.pleth
10  Transmission % BldA PulseOx
11                  ECG Lead II
12             Invasive mean BP
13      Resp rate PulseOx.pleth
14                 ECG Lead III
15                   ECG Lead V